<%= form_for(@circ) do |f| %>
  <% if @circ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circ.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
      <% @circ.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12 col-sm-12">
  <div class="form-group">
  <div class="field">
    <%= f.label "Barkod knjige"%><br>
    <%= f.text_field :copy_id, :autofocus => true %>
  </div><br>
  <div class="field">
    <%= f.label "Barkod korisnika" %><br>
    <%= f.text_field :user_id, :value => params[:barko] %>
  </div><br>
  <%= f.hidden_field :indikacija, :value => "1" %>
  <div class="actions">
    <%= f.submit "Posudi" %>
  </div>
<% end %>
</div>
</div>
