<% flash.each do |key, value| %>
        <div class="alert-danger"><%= value %></div>
      <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Kopija</th>
      <th>Korisnik</th>
      <th>Posuđeno</th>
      <th>Vraćeno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circs.each do |circ| %>
      <tr>
        <td><%= circ.user.ime %></td>
        <td><%= circ.copy.item.naslov %></td>
        <td><%= circ.created_at %></td>
        <td><%= circ.updated_at %></td>
        <td><%= circ.indikacija %></td>
        <td><%= link_to 'Izbriši', circ, method: :delete, data: { confirm: 'Da li ste sigurni da želite izbrisati?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>