<div class="row">
<div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                         <h3>Posudba </h3>
                        </div>
                        <div class="panel-body">
<% flash.each do |key, value| %>
        <div class="alert-<%=key%>"><%= value %>
        <% if key=="danger" %>
        <audio autoplay><source src="../danger.mp3" type="audio/mp3"></audio>
        <% else %>
        <audio autoplay><source src="../gut.mp3" type="audio/mp3"></audio>
         <% end %>
        </div>
      <% end %>
<%= render 'form' %>

</div>
</div>
</div>
</div>
