<% flash.each do |key, value| %>
        <div class="alert-<%=key%>"><%= value %>
        <p></p>
        <% if key=="danger" %>
        <audio autoplay><source src="danger.mp3" type="audio/mp3"></audio>
        <% else %>
        <audio autoplay><source src="gut.mp3" type="audio/mp3"></audio>
         <% end %>
        </div>
      <% end %>
<div class="row">
<div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                         <h3>Vraćanje knjige </h3>
                        </div>
                        <div class="panel-body">


<%= form_tag("/circulations/index", :method => "patch") do %>
  <%= label_tag(:q, "Barkod knjige:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Vrati knjigu") %>
<% end %>
<br>

</div>
</div>
</div>
</div>
