<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
    <%= f.label :username, 'Korisničko ime' %><br />
    <%= f.text_field :username, autocomplete: "off", autofocus: true %>
  </div><br />
<div class="field">
    <%= f.label :ime %><br />
    <%= f.text_field :ime, autocomplete: "off" %>
  </div><br />
  <div class="field">
    <%= f.label :prezime %><br />
    <%= f.text_field :prezime, autocomplete: "off" %>
  </div><br />
    <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div><br />
  <div class="field">
    <%= f.label :password, 'Šifra' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> znakova minimalno)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br />

  <div class="field">
    <%= f.label :password_confirmation, 'Potvrdi šifru' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
