<p id="notice"><%= notice %></p>

<p>
  <strong>Barkod knjige:</strong>
  <%= @copy.barkod_knjige %>
</p>

<p>
  <strong>Item:</strong>
  <%= @copy.item %>
</p>

<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
