<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label "Barkod" %><br>
    <%= f.text_field :id, :value => @nbarkod, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :ime %><br>
    <%= f.text_field :ime %>
  </div>
  <div class="field">
    <%= f.label :prezime %><br>
    <%= f.text_field :prezime %>
  </div>
  <div class="field">
    <%= f.label :ulica %><br>
    <%= f.text_field :ulica %>
  </div>
  <div class="field">
    <%= f.label :grad %><br>
    <%= f.text_field :grad %>
  </div>
  <div class="field">
    <%= f.label :PB %><br>
    <%= f.text_field :PB %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefon1 %><br>
    <%= f.text_field :telefon1 %>
  </div>
  <div class="field">
    <%= f.label :telefon2 %><br>
    <%= f.text_field :telefon2 %>
  </div>
  <div class="field">
    <%= f.label :organizacija %><br>
    <%= f.text_field :organizacija %>
  </div>
  <div class="field">
    <%= f.label :napomena %><br>
    <%= f.text_area :napomena %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
