<div class="row">
<div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                         <h3>Pretraži korisnike </h3>
                        </div>
                        <div class="panel-body">
<br>

<%= search_form_for @q, url: users_path,
                        html: { method: :get } do |f| %>
  <div class="row">
  <div class="field col-md-3">
    <%= f.label :ime_cont, "Ime korisnika" %>
    <%= f.text_field :ime_cont, :autofocus => true %>
  </div>
  
  <div class="field col-md-3">
    <%= f.label :prezime_cont, "Prezime korisnika" %>
    <%= f.text_field :prezime_cont %>
  </div>
  <div class="field col-md-3">
    <%= f.label :id_eq, "Barkod korisnika" %>
    <%= f.text_field :id_eq %>
  </div>
  </div>
  <br>
  <div class="actions">
    <%=  f.submit  "Traži", class: 'btn btn-success' %>
  </div>
<% end %>
