<p id="notice"><%= notice %></p>
<%= render 'search' %>
<br>
<% if !params[:q].blank? %>
<div class="panel panel-success">
                        <div class="panel-heading">
                            PRONAĐENI KORISNICI
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Barkod</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Ulica</th>
      <th>Grad</th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.ime %></td>
        <td><%= user.prezime %></td>
        <td><%= user.ulica %></td>
        <td><%= user.grad %></td>
       
        <td><%= link_to 'Detalji', user %></td>
        <td><%= link_to 'Uredi', edit_user_path(user) %></td>
        <td><%= link_to 'Izbriši', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
                        </div>
                    </div>
                     
                      <%= will_paginate %> 
                </div>

<br>
<% end %>
<br>
</div>
</div>
</div>
</div>