<div class="row">
<div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                         <h3>Dodaj novog korisnika </h3>
                        </div>
                        <div class="panel-body">
<% novi_barkod %>
<%= render 'form_edit' %>

</div>
</div>
</div>
</div>

<%= link_to 'Natrag', users_path %>
