<div class="row">

    <div class="col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                   <h4>Povijest posudbe za "<%= @user.ime %> <%= @user.prezime %>"</h4>
            </div>
            <div class="panel-body">
                            
                 <table class="table ">
  <thead>
    <tr>
      <th>Naslov</th>
      <th>Barkod</th>
      <th>Posuđeno</th>
      <th>Vraćeno</th>
      
     
    </tr>
  </thead>
<tbody>
<tr>



 
 <% @user.circulations.each do |f| %>


 
 <td> <%= f.copy.item.naslov  %></td>
 <td> <%= f.copy.barkod_knjige  %></td>
 <td> <%= f.created_at.strftime("%d %m %Y")   %></td>
 <% if f.indikacija==2 %>
 <td> <%= f.updated_at.strftime("%d %m %Y")   %></td>
  <% else %>
  <td>-</td>
   <% end %>
  
  
  
</tr>
</tbody>
<% end %>



</table>
         
            </div>
        </div>
    </div>
</div>