<p class="notice" id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-success">
                        <div class="panel-heading">
      <h1> <%= @user.ime %> <%= @user.prezime %> </h1>
      
      
      </div>
      </div>
    </div>
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                           <h4> Podaci o korisniku </h4>
                        </div>
                        <div class="panel-body">


<strong>Barkod:</strong>
  <%= @user.id %>
  <br>
<strong>Adresa:</strong>
  <%= @user.ulica %>, <%= @user.PB %> <%= @user.grad %>
  <br>

<strong>Email:</strong>
 <%= @user.email %>
  <br>
<strong>Telefoni:</strong> 
  <%= @user.telefon1 %>,  <%= @user.telefon2 %><br>
<strong>Organizacija:</strong> 
  <%= @user.organizacija %>
<br>
<strong>Napomena:</strong> 
  <%= @user.napomena %>
 </div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                           <h4> Trenutno posuđene knjige </h4>
                        </div>
                        <div class="panel-body">

<% if @user.circulations.posudjeno.count>0 %>
 <table class="table ">
  <thead>
    <tr>
      <th>Naslov</th>
      <th>Barkod</th>
      <th>Posuđeno</th>
      
      
     
    </tr>
  </thead>
<tbody>
<tr>



 
 <% @user.circulations.posudjeno.each do |f| %>


 
 <td> <%= link_to  f.copy.item.naslov, controller: "items", action: "show", id: f.copy.item.id %></td>
 <td> <%= f.copy.barkod_knjige  %></td>
 <td> <%= f.created_at.strftime("%d %m %Y")   %></td>

  
  
</tr>
</tbody>
<% end %>



</table>

<% else%>

NEMA POSUĐENIH KNJIGA!
<% end %>


 </div>
      </div>
    </div>
    
</div>
<%= link_to "<button>Posudi knjigu</button>".html_safe , controller: "circulations", action: "new", barko: @user.id %><br><br>
<%= link_to "<button>Prikaži povijest posuđivanja</button>".html_safe , povijest_users_path(@user) %><br><br>
<%= link_to 'Uredi', edit_user_path(@user) %> |
<%= link_to 'Natrag', svi_users_path %>
