<p id="notice"><%= notice %></p>

               
            <div class="row">
                <div class="col-md-12 col-sm-12">
                   <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            POPIS KORISNIKA
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">





  <thead>
    <tr>
      <th>Barkod</th>
      <th>Ime</th>
     
      <th>Ulica</th>
      <th>Grad</th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
         <td><%= user.id %></td>
        <td><%= user.ime %> <%= user.prezime %></td>
       
        <td><%= user.ulica %></td>
        <td><%= user.grad %></td>
    
        <td><%= link_to 'Detalji', user %></td>
        <td><%= link_to 'Uredi', edit_user_path(user) %></td>
        <td><%= link_to 'Izbriši', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
 
</table>

<br>

</div>
                        </div>
                    </div>
                     <!-- End  Kitchen Sink -->
                        <%= will_paginate @users %> 
                </div>
            </div>




