<!DOCTYPE html>
<html>
<head>
  <title>Pdk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
   <%- if controller_name != 'sessions' %>
   
   <%= render 'layouts/header' %>
   <% end -%>
   <div>
      <p class="alert-success"><%= notice %></p>
      <p class="alert-danger"><%= alert %></p>
      </div>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
