<h1 class="bg-primary lead text-center"><br>Dobrodošli u knjižnični sustav Prve dječje knjižnice za djecu s oštećenjem vida!<br><br></h1>


 <body class="login-img3-body">

    <div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login-form"}) do |f| %>
           
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              
              <%= f.text_field :username, autocomplete: "off", autofocus: "on", placeholder: "Korisničko ime", class: "form-control" %>
             
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                
                <%= f.password_field :password, autocomplete: "off", placeholder: "Šifra", class: "form-control" %>
            </div>
            <label class="checkbox">
               <% if devise_mapping.rememberable? -%>
 
      <%= f.check_box :remember_me %>
      <%= f.label "Zapamti me" %>
   
  <% end -%>
               
               
            </label>
            
            <%= f.submit "Prijava u sustav" , class: "btn btn-primary btn-lg btn-block" %>
           
        </div>
     

    </div>

<% end %>
  </body>

<!--<%= render "devise/shared/links" %>-->
