<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="col-md-6 col-sm-6">
  <div class="form-group">
    <%= f.label :naslov %><br>
    <%= f.text_field :naslov, :autofocus => true %>
  </div>
  <div class="form-group">
    <%= f.label :ime_autora %><br>
    <%= f.text_field :ime_autora %>
  </div>
  <div class="form-group">
    <%= f.label :prezime_autora %><br>
    <%= f.text_field :prezime_autora %>
  </div>
  <div class="form-group">
    
  
     <%= f.label :kategorija %><br>
    <%= f.collection_select :kategorija, Kategorija.all, :kategorija, :kategorija, :selected => @item.kategorija %>
  </div>

  <div class="form-group">
    <%= f.label :mjesto %><br>
    <%= f.text_field :mjesto %>
  </div>
  <div class="form-group">
    <%= f.label :godina %><br>
    <%= f.text_field :godina %>
  </div>
  <div class="form-group">
    <%= f.label :dobavljac %><br>
    <%= f.text_field :dobavljac %>
  </div>
  </div>
  <div class="col-md-6 col-sm-6">
  <div class="form-group">
    <%= f.label :vrijednost %><br>
    <%= f.text_field :vrijednost %>
  </div>
  <div class="form-group">
    <%= f.label :signatura %><br>
    <%= f.text_field :signatura %>
  </div>
  <div class="form-group">
    <%= f.label :napomena %><br>
    <%= f.text_area :napomena %>
  </div>
  <div class="form-group">
    <%= f.label :izdavac %><br>
    <%= f.text_field :izdavac %>
  </div>
  </div>
   <div class="col-md-12 col-sm-12">
     <hr style="border-top: 1px dotted #000000 !important; " />
     <h3>Primjerci</h3>
   <div class="form-inline">
 
   <%= f.fields_for :copies do |p| %>
   <div class="form-group">
    <%= p.label :barkod_knjige %><br>
    <%= p.text_field :barkod_knjige %>
    <%= p.check_box :_destroy %>
    <%= p.label :_destroy, 'ukloni' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
    
  </div>
  <% end %>
 
    </div>
<br>
  <div class="actions">
    <%=  f.submit  "Dodaj knjigu", class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
