<div class="row">
<div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                         <h3>Pretraži knjige </h3>
                        </div>
                        <div class="panel-body">
<br>
<%= search_form_for @q, url: items_path,
                        html: { method: :get } do |f| %>
  
  <div class="row">
  <div class="field col-md-3">
    <%= f.label :copies_barkod_knjige_cont, "Barkod" %>
    <%= f.text_field :copies_barkod_knjige_cont, :autofocus => true %>
  </div>
  <div class="field col-md-3">
    <%= f.label :naslov_cont, "Naslov" %>
    <%= f.text_field :naslov_cont %>
  </div>
   <div class="field col-md-3">
    <%= f.label :prezime_autora_cont, "Prezime autora" %>
    <%= f.text_field :prezime_autora_cont %>
  </div>
  <div class="field col-md-3">
    <%= f.label :kategorija_cont, "Kategorija" %>
    
    <%= f.collection_select :kategorija_cont, Kategorija.all, :kategorija, :kategorija, :include_blank => true, :selected => @q.kategorija %>
  </div>
  </div>
  <br>
  <div class="actions">
    <%=  f.submit  "Traži", class: 'btn btn-success' %>
  </div>
<% end %>
<br>
