<div class="row">
<div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                         <h3>Uredi stavku </h3>
                        </div>
                        <div class="panel-body">

<%= render 'form' %>

</div>
</div>
</div>
</div>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
