<p id="notice"><%= notice %></p>
<%= render 'search' %>

<% if !params[:q].blank? %>

 <div class="panel panel-success">
                        <div class="panel-heading">
                            PRONAĐENE KNJIGE
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Slika</th>
      <th>Naslov</th>
      <th>Autor</th>
      <th>Kategorija</th>
      <th>Godina</th>
      <th>Signatura</th>
      <th>Izdavac</th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    
    
    <% @items.each do |item| %>
 
      <tr>
        <td><%= image_tag item.image.url(:thumb) %></td>
        <td><%= item.naslov %></td>
        
        <%  if !item.prezime_autora.blank? %>
          <td><%= item.prezime_autora%>,  <%= item.ime_autora %></td>
        <% else %>
          <td></td>
        <% end %>
        
        <td><%= item.kategorija %></td>
        <td><%= item.godina %></td>
        <td><%= item.signatura %></td>
        <td><%= item.izdavac %></td>
        <td><%= link_to 'Detalji', item %></td>
        <td><%= link_to 'Uredi', edit_item_path(item) %></td>
        <td><%= link_to 'Izbriši', item, method: :delete, data: { confirm: 'Da li ste sigurni da želite izbrisati?' } %></td>
      </tr>
    <% end %>
    
    </tbody>
 
</table>

<br>

</div>
                        </div>
                    </div>
                     <!-- End  Kitchen Sink -->
                      <%= will_paginate %> 
                </div>
<div class="pdf_link">
    <%= link_to "Spremi kao PDF", items_path(params.merge(:format => "pdf")), class: "btn btn-primary" %>
</div>

<br>
<% end %>
<br>
</div>
</div>
</div>
</div>


