<h3>Trenutno stanje fonda knjižnice</h3>
<p></p>
<div class="col-md-12 col-sm-12">
<p class="bg-info">Ukupan broj stavki: <%= Copy.all.size %></p>
<p class="bg-info">Ukupan broj naslova: <%= Item.all.size %></p>
<p class="bg-info">Ukupni broj darovanih knjiga: <%= Item.where('vrijednost <? ', 1).size %></p>
<p class="bg-info">Ukupna vrijednost kupljenih knjiga: <%= Item.sum(:vrijednost) %> kn</p>

   
</div>
<div class="col-md-12 col-sm-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Brojčano stanje po kategorijama</h4>
    </div>
    <div class="panel-body">
                         
            <table id="example" class="table table-hover table-bordered">
              <thead>
                <tr>
                    <th>Naziv kategorije</th>
                    <th>Broj stavki</th>
                    <th>Broj naslova</th>
                </tr>
              </thead>
              
                <tbody>
                    <% Kategorija.all.each do |kategorija| %>
                    <% a=0 %>
                        <tr>
                            <td><%= kategorija.kategorija %></td> 
                            <td><% Copy.all.each do |f|  
                                if f.item.kategorija.present?
                                 c=f.item.kategorija.downcase
                                  else 
                                   c= "krava"
                                end
                                   if c == kategorija.kategorija.downcase
                                       a=a+1
                              end
                          end
                            %>
                            <%= a %>
                            </td>
                            <td><%= Item.where('kategorija =? ', kategorija.kategorija.humanize).size %></td>
                        </tr>
                     <% end %>
                </tbody>  
            </table>
        </div>
    </div>
</div>