<div class="col-md-12 col-sm-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Posuđene stavke - ukupno posuđeno <%= @itemposu %> stavki</h4>
    </div>
    <div class="panel-body">
                         
            <table id="example" class="table ">
              <thead>
                <tr>
                  <th>Barkod</th>
                   <th>Naslov</th>
                  <th>Korisnik</th>
                  <th>Posuđeno dana</th>
                </tr>
              </thead>
                <tbody>
                  <% @item.each do |item| %>
                    <% if !item.present? %>
                    
                        <h3>Nema posuđenih stavki!!!</h3>
                       
                    <% else %>
                    
                        <tr>
                            <td><%= item.copy.barkod_knjige %></td>
                            <td><%= link_to  item.copy.item.naslov , controller: "items", action: "show", id: item.copy.item.id %></td>
                            <td><%= link_to  "#{item.user.ime} #{item.user.prezime}", controller: "users", action: "show", id: item.user.id%></td>
                            <td><%= item.created_at.strftime("%d %m %Y") %></td>
                        </tr>
                    
                    <% end %>
                  <% end %>
                </tbody>  
            </table>
        </div>
    </div>
</div>
<%= will_paginate @item %> 