<div class="row">

    <div class="col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                   <h4>Povijest posudbe za "<%= @item.naslov %>"</h4>
            </div>
            <div class="panel-body">
                            
                 <table class="table ">
  <thead>
    <tr>
      <th>Barkod</th>
       <th>Korisnik</th>
      <th>Posuđeno</th>
      <th>Vraćeno</th>
      
     
    </tr>
  </thead>
<tbody>
<tr>
 <% @cirkovi = []%> 
<% if @item.copies.any? %>

 
 <% @item.copies.each do |f| %>


<% f.circulations.each do |g| %>

<% @cirkovi << g %>

<% end %> 
 <% end %>
 <% @cirkovi.sort.reverse.each do |cirk| %>
 
 <td> <%= cirk.copy.barkod_knjige  %></td>
 <td> <%= cirk.user.ime  %> <%= cirk.user.prezime  %></td>
 <td> <%= cirk.created_at.strftime("%d %m %Y")   %></td>
 <td> <%= cirk.updated_at.strftime("%d %m %Y")   %></td>
  
</tr>
</tbody>
<% end %>

<% else %>
<p>Nema dostupnih kopija</p>
<% end %>

</table>
         
            </div>
        </div>
    </div>
</div>