<p id="notice"><%= notice %></p>



<p class="h3">
  
  <%= @item.naslov %>
</p>

<p>
  <strong>Ime autora:</strong>
  <%= @item.ime_autora %>
</p>

<p>
  <strong>Prezime autora:</strong>
  <%= @item.prezime_autora %>
</p>

<p>
  <strong>Kategorija:</strong>
  <%= @item.kategorija %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Mjesto:</strong>
  <%= @item.mjesto %>
</p>

<p>
  <strong>Godina:</strong>
  <%= @item.godina %>
</p>

<p>
  <strong>Dobavljac:</strong>
  <%= @item.dobavljac %>
</p>

<p>
  <strong>Vrijednost:</strong>
  <%= @item.vrijednost %>
</p>

<p>
  <strong>Signatura:</strong>
  <%= @item.signatura %>
</p>

<p>
  <strong>Napomena:</strong>
  <%= @item.napomena %>
</p>

<p>
  <strong>Izdavac:</strong>
  <%= @item.izdavac %>
</p>

<p>
<strong>Ukupan broj primjeraka:</strong>

   <%= @item.copies.count %>
</p>

<strong>Broj dostupnih primjeraka:</strong>
<% broj %>
<%= @item.copies.count - @y %>
  
</p>

<h2>Dostupne kopije</h2>
<table class="table">
  <thead>
    <tr>
      <th>Barkod</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
<td>
  
<% if @item.copies.any? %>
<ul>
 
 <% @item.copies.each do |f| %>

  
<li><%= f.barkod_knjige  %>
<% f.circulations.posudjeno.each do |g| %>
 - <%= g.user.ime %> </br>
<% end %> 
</li>

 <% end %>
 </td>
</ul>

<% else %>
<p>Nema dostupnih kopija</p>
<% end %>

</table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
