<p class="notice" id="notice"><%= notice %></p>
<% broj %>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-success">
                        <div class="panel-heading">
      <h1> <%= @item.naslov %> </h1>
      
      <h3><%= @item.prezime_autora %>, <%= @item.ime_autora %> </h3>
      </div>
      </div>
    </div>
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                           <h4> Podaci o knjizi </h4>
                        </div>
                        <div class="panel-body">
                           
 <div class="col-md-6 col-sm-6">
  <% if @dostupno > 0 %>
  
  <div class="alert alert-success">
   Dostupno za posuđivanje
</div>
<% else %>
<div class="alert alert-danger">
  Svi primjerci posuđeni
</div>
  <% end %>
  <strong>Kategorija:</strong>
  <%= @item.kategorija %>
  <br>
  
  <strong>Mjesto izdavanja:</strong>
  <%= @item.mjesto %>
  <br>
  <strong>Godina:</strong>
  <%= @item.godina %>
  <br>
  <strong>Dobavljač:</strong>
  <%= @item.dobavljac %>
  <br>
  <strong>Vrijednost:</strong>
  <%= @item.vrijednost %>
  <br>
  <strong>Signatura:</strong>
  <%= @item.signatura %>
  <br>
  <strong>Dodana dana:</strong>
  <%= @item.created_at.strftime("%d %m %Y") %>
  <br>
  <strong>Napomena:</strong>
  <%= @item.napomena %>
  <br>
  <strong>Izdavač:</strong>
  <%= @item.izdavac %>
  <br>
<strong>Ukupan broj primjeraka:</strong>

   <%= @item.copies.count %>
  <br>
<strong>Broj dostupnih primjeraka:</strong>

<%= @item.copies.count - @y %>
  </div>
   <div class="col-md-6 col-sm-6">
       <%= image_tag @item.image.url(:medium) %>
    </div>   
  
  
  
  
  
  

                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                           <h4>Dostupne kopije</h4>
                        </div>
                        <div class="panel-body">
                         
<table id="example" class="table ">
  <thead>
    <tr>
      <th>Barkod</th>
      <th>Korisnik</th>
      <th>Posuđeno dana</th>
    </tr>
  </thead>
<tbody>
  
<% if @item.copies.any? %>

 
 <% @item.copies.each do |f| %>


    <tr>
<td><%= f.barkod_knjige  %> </td>
<% if !f.circulations.posudjeno.present? %> <td>-</td> <td>-</td> <% end%>

<% f.circulations.posudjeno.each do |g| %>
<% if !g.present? %> fdwdfsf <% end%>
   <td><%= link_to  "#{g.user.ime} #{g.user.prezime}", controller: "users", action: "show", id: g.user.id%></td>  
  <td><%= g.created_at.strftime("%d %m %Y") %></td></tr>
<% end %> 


 <% end %>
 


<% else %>
<p>Nema dostupnih kopija</p>
<% end %>

</tbody>  
</table>
                           </div>
                        
                    </div>
                </div>

</div>



<%= link_to "<button>Prikaži povijest posuđivanja</button>".html_safe , povijest_items_path(@item) %>
<br>
<br>
<%= link_to 'Uredi', edit_item_path(@item) %> |
<%= link_to 'Natrag', items_path %>

 <script>
         
            
           $(document).on('page:change', function () {
                $('#example').dataTable( {
                   paging: false,
                    searching: false,
                    order: [ 2, 'desc' ],
                    bInfo: false
                            } );
                           
            });
            
            
    </script>

