
<div class="col-md-12 col-sm-12">
    <h4>Odaberi godinu za prikaz fonda knjižnice</h4>
<%= form_tag("/items/statistikapogod", method: "get") do %>
  <%= label_tag(:q, "Odaberi godinu:") %>
 <%= select_tag "options", options_for_select(@options, "") %>
  <%= submit_tag("Traži") %>
<% end %>

<% if params[:options].present? %>
<h3>Stanje fonda knjižnice za godinu <%= params[:options] %></h3>
<p></p>

<p class="bg-success">Ukupan broj stavki: <%= Copy.where('extract(year  from created_at) = ?', params[:options]).size  %></p>
<p class="bg-success">Ukupan broj naslova: <%= Item.where('extract(year  from created_at) = ?', params[:options]).size %></p>
<p class="bg-success">Ukupni broj darovanih knjiga: <%= Item.where('vrijednost <? and extract(year  from created_at) = ? ', 1,params[:options] ).size %></p>
<p class="bg-success">Ukupna vrijednost kupljenih knjiga: <%= Item.where('extract(year  from created_at) = ?', params[:options]).sum(:vrijednost) %> kn</p>

  <div class="panel panel-success">
    <div class="panel-heading">
        <h4>Brojčano stanje po kategorijama</h4>
    </div>
    <div class="panel-body">
                         
            <table id="example" class="table table-hover table-bordered">
              <thead>
                <tr>
                    <th>Naziv kategorije</th>
                    <th>Broj stavki</th>
                    <th>Broj naslova</th>
                </tr>
              </thead>
              
                <tbody>
                    <% Kategorija.all.each do |kategorija| %>
                    <% a=0 %>
                        <tr>
                            <td><%= kategorija.kategorija %></td> 
                            <td><% Copy.where('extract(year  from created_at) = ?', params[:options]).each do |f|  
                                if f.item.kategorija.present?
                                 c=f.item.kategorija.downcase
                                  else 
                                   c= "krava"
                                end
                                   if c == kategorija.kategorija.downcase
                                       a=a+1
                              end
                          end
                            %>
                            <%= a %>
                            </td>
                            <td><%= Item.where('kategorija =? and extract(year  from created_at) = ?', kategorija.kategorija.humanize, params[:options]).size %></td>
                        </tr>
                     <% end %>
                </tbody>  
            </table>
        </div>
    </div>
</div>
<% end %>