<p id="notice"><%= notice %></p>
                <div class="row">
                    <div class="col-md-12">
                     <h2>PREGLED KNJIGA</h2>   
                        
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                   <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            POPIS KNJIGA
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th>Slika</th>
      <th>Naslov</th>
      <th>Autor</th>
      <th>Kategorija</th>
      <th>Godina</th>
      <th>Signatura</th>
      <th>Izdavac</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
    
    <% @items.each do |item| %>
 
      <tr>
          <td><%= image_tag item.image.url(:thumb) %></td>
        <td><%= item.naslov %></td>
        
        <%  if !item.prezime_autora.blank? %>
          <td><%= item.prezime_autora%>,  <%= item.ime_autora %></td>
        <% else %>
          <td></td>
        <% end %>
        
        <td><%= item.kategorija %></td>
        <td><%= item.godina %></td>
        <td><%= item.signatura %></td>
        <td><%= item.izdavac %></td>
        <td><%= link_to 'Detalji', item %></td>
        <td><%= link_to 'Uredi', edit_item_path(item) %></td>
        <td><%= link_to 'Izbriši', item, method: :delete, data: { confirm: 'Da li ste sigurni da želite izbrisati?' } %></td>
      </tr>
    <% end %>
    
    </tbody>
 
</table>

<br>

</div>
                        </div>
                    </div>
                     <!-- End  Kitchen Sink -->
                        <%= will_paginate @items %> 
                </div>
            </div>
                <!-- /. ROW  -->
            
            
        