</div>
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <!--<script src="assets/js/jquery-1.10.2.js" data-no-turbolink></script>-->
      <!-- BOOTSTRAP SCRIPTS -->
    <!--<script src="assets/js/bootstrap.min.js" data-no-turbolink></script>-->
    <!-- METISMENU SCRIPTS -->
   
     <!-- DATA TABLE SCRIPTS -->
  
       
      
       
       
       
       
       
         <!-- CUSTOM SCRIPTS -->

