 <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=<%= static_st_path %>>
                    
                    <% if !current_admin.nil? && !current_admin.prezime.nil? %>
                    <%= current_admin.ime %> <%= current_admin.prezime %></a> 
                    <% end %>
                    </a> 
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: left;
font-size: 20px;"> PRVA DJEČJA KNJIŽNICA ZA DJECU S OŠTEĆENJEM VIDA</div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"><a href=<%=logout_path%> class="btn btn-danger square-btn-adjust">Logout</a></div>
        </nav>  
        