 <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                   
                    <img src=<%= image_url "find_user.png" %> class="user-image img-responsive"/>
					</li>
				
					
					                   
                    <li>
                        <a href="#"><i class="fa fa-book fa-3x"></i> Knjige<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                             <li><%= link_to "Pretraga knjiga", items_path%></li>
                            <li><%= link_to "Dodaj novu knjigu", new_item_path%></li>
                          <li><%= link_to "Knjige", svi_items_path %></li>
                        </ul>
                      </li>  
                      <li>
                        <a href="#"><i class="fa fa-user fa-3x"></i> Korisnici<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           <li><%= link_to "Pretraga korisnika", users_path%></li>
                            <li><%= link_to "Dodaj novog korisnika", new_user_path%></li>
                            <li><%= link_to "Korisnici", svi_users_path%></li>
                           
                        </ul>
                      </li>  
                  <li>
                        <a href="#"><i class="fa fa-barcode fa-3x"></i> Cirkulacija<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><%= link_to "Posudi knjigu", new_circulation_path %></li>
                            <li><%= link_to "Vraćanje knjige", vracanje_path %></li>
                            
                        </ul>
                      </li>  



                        <li>
                       
                         <%= link_to ('<i class="fa fa-pencil-square fa-3x"></i> Inventarna knjiga').html_safe, inv_knjiga_items_path(params.merge(:format => "pdf")) %>
                         
                         </li>
                        <li>
                        <a   href="#"><i class="fa fa-bar-chart-o fa-3x"></i> Statistika<span class="fa arrow"></span></a>
                           <ul class="nav nav-second-level">
                            <li><%= link_to "Posuđene stavke", posudjene_items_path %></li>
                           <li><%= link_to "Trenutno stanje fonda", fond_items_path %></li>
                            <li><%= link_to "Statistika fonda po godinama", statistikapogod_items_path %></li>
                        </ul>
                    </li>	
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">