<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDK</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- BOOTSTRAP STYLES-->
   <!-- <link href="assets/css/bootstrap.css" rel="stylesheet" />-->
     <!-- FONTAWESOME STYLES-->
   <!-- <link href="assets/css/font-awesome.css" rel="stylesheet" />-->
     <!-- MORRIS CHART STYLES-->
   
        <!-- CUSTOM STYLES-->
   <!-- <link href="assets/css/custom.css" rel="stylesheet" />-->
     <!-- GOOGLE FONTS-->
   <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
     <!-- TABLE STYLES-->
   <!-- <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />-->
</head>
<body>
     <%- if controller_name != 'sessions' %>
   
   <%= render 'layouts/header' %>
   <%= render 'layouts/sidebar' %>

  
   <% end -%>
   
<%= yield %>

<%= render 'layouts/footer' %>



<%= debug(params) if Rails.env.development? %>
</body>
</html>